.recommendedVideos {
  flex: 0.85;
  background-color: #f9f9f9;
  padding: 40px 20px;
  padding-bottom: 0;
  position: relative;
  left: 240px;
}

.recommendedVideos > h2 {
  margin-left: 5px;
  margin-bottom: 20px;
}

.recommendedVideos__videos {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 500px) {
  .recommendedVideos {
    flex: 1;
    padding: 10px;
    position: initial;
    overflow-x: hidden;
  }

  /* .recommendedVideos {
    flex: 0.85;
    background-color: #f9f9f9;
    padding: 40px 20px;
    padding-bottom: 0;
    position: relative;
    left: 200px;
  } */
}
